@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #0cf689;
}
a:active {
  color: #39c594;
}

