@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: '';
  background-color: #000000;
  min-width: 700px;
  }

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #0cf689;
}
a:active {
  color: #39c594;
}

